Package: com.starcore.tweak
Name: StarCoreTweak
Version: 5.11.0
Architecture: iphoneos-arm64
Description: StarCore Tweak v5.11 - sendEvent Hook获取真实senderID
Maintainer: StarCore
Author: StarCore
Section: Tweaks
Depends: ellekit
