Package: com.starcore.tweak
Name: StarCoreTweak
Version: 5.0.0
Architecture: iphoneos-arm64
Description: StarCore Tweak v5.0 - IOHIDUserDevice虚拟触摸 + 键盘输入
Maintainer: StarCore
Author: StarCore
Section: Tweaks
Depends: mobilesubstrate
