Package: com.starcore.tweak
Name: StarCoreTweak
Description: StarCore Tweak v5.7 - plist改Bundles格式(ElleKit兼容)
Maintainer: StarCore
Author: StarCore
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Version: 5.7.0-1+debug
Installed-Size: 139
